* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
    --aside-width: 16rem;
    --bg: rgb(32, 32, 32);
    --bg-2: rgb(39, 39, 39);
    --primary-clr: aliceblue;
    --secondary-clr: rgb(95, 95, 95);
    --tertiary-clr: rgb(57, 57, 57);
    --hover-clr: rgb(45, 45, 45);
    --slider-clr: #333;
    --priority-bg: #424242;
    --accent-clr: orange;
    --shadow: rgba(0, 0, 0, .6);
}

body {
    color: var(--primary-clr);
    font-family: corbel, Consolas, Arial, Helvetica, sans-serif;
}

/* ***** Aside ***** */

aside {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--aside-width);
    height: 100%;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
}

aside h1 {
    display: flex;
    align-items: center;
    padding: 1.7rem;
    font-size: 1.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

aside h1 svg {
    height: 3rem;
    width: 3rem;
    margin-right: .4rem;
}

aside nav {
    --top: 0;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-inline: .5rem;
}

aside nav a:is(:link, :visited) {
    display: flex;
    align-items: center;
    color: var(--secondary-clr);
    text-decoration: none;
    padding: .8rem;
    border-radius: 4px;
    transition: color .4s, background-color .4s;
    margin-bottom: .3rem;
}

aside nav a:is(:hover, :active, .active) {
    background-color: var(--hover-clr);
    color: var(--primary-clr);
}

aside nav .bottom {
    flex: 1;
    display: grid;
    align-items: end;
    padding-bottom: 1rem;
}

aside nav a svg {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 1rem;
}

aside nav::after {
    content: "";
    position: absolute;
    top: var(--top);
    right: -2px;
    width: 4px;
    height: 3em;
    background-color: var(--slider-clr);
    transition: top .5s ease-in-out;
}

/* ****** Main ***** */

main{
    min-height: 100vw;
    margin-left: var(--aside-width);
    background-color: var(--bg-2);
}

.task {
    display: flex;
    background-color: var(--tertiary-clr);
    border-left: 8px solid var(--bg);
    margin-inline: 1rem;
    padding: .7em 1em;
    box-shadow: 0 0 10px var(shadow);
}

.task input {
    margin-right: 1em;
}

.task .description {
    display: grid;
    flex: 1;
}

.task .description p:first-child {
    font-weight: bold;
}

.task .description .date {
    opacity: .7;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.task .priority {
    font-size: .8em;
    background-color: var(--priority-bg);
    /* background-color: black; */
    padding: .5em 1.2em;
    border-radius: 30px;
    box-shadow: .2px .2px 2px 1px var(--primary-clr), 1px 1px 3px 1.5px var(--bg), 1px 1px 3px 1.5px var(--bg);
    text-transform: uppercase;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}